body {
    width: 100%;
}


h1{
    center: fixed, text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}




#map {
  height: 500px;
  /*width: 100%;
  position:absolute;
  top: 300;
  left: 0;
  */
}

#header_wrapper {
	margin-top: 5%;
}

#logo-img {
	width: 100px;
	height: 100px;
}

#title_container {
	position: relative;
}

#title {
	position: absolute;
	bottom: 0;
   	right: 0;
}

