body {
    width: 100%;
}


h1{
    center: fixed, text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}




#map {
  height: 500px;
  /*width: 100%;
  position:absolute;
  top: 300;
  left: 0;
  */
}